{% extends 'base.html.twig' %}

{% block body %}
        <div class="panel panel-bd p-3 ">
            <div class="panel-heading">
                <h1>Nouveau Media</h1>7
            </div>
                    <div class="text-left">
                        <a class="btn btn-primary" href="{{ path('media_new')}}">
                        <i class="fas fa-plus">
                        </i>
                            Nouveau</a>
                    </div>
            </div>
    <div class="row">
        {% for medium in media %}
            <div class="col-sm-4">
                <ul class="list-group">
                    <li><img src="{{ asset('photo/'~ medium.photo)}}" alt="" width="300" height="200" onMouseOut="javascript:this.style.background='#ffffff'" onMouseOver="javascript:this.style.background='#008080'" onclick="location.href='{{path('media_edit', { 'id': medium.id })}}'"></li>
                    <li class="list-group-item">{{ medium.description }}</li>
                </ul>

            </div>
        {% endfor %}
    </div>
{% endblock %}