{% extends 'baseFront.html.twig' %}

{% block title %}Hello VitrineController!{% endblock %}

{% block body %}

    <section id="team" class="light">
        <header class="title">
            <h2>Creative <span>Team</span></h2>
            <p>Lorem ipsum Dolor et reprehenderit laborum deserunt aliquip incididunt tempor id non. Lorem ipsum Fugiat anim labore cupidatat consequat non in sit dolore anim anim consequat nisi.</p>
        </header>
        <div class="container">
        <div class="row animated" data-animate="fadeInDown">

            <div class="col-md-3 col-sm-4 col-xs-12 single_portfolio_text">
                <img src="{{ asset('daraz/images/p-1.png') }}" alt="" />
                <a class="fancybox" rel="ligthbox" href="http://i.imgur.com/PUeaHfC.png">
                    <div class="zoom"></div>
                </a>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12 single_portfolio_text">
                <img src="{{ asset('daraz/images/p-2.png') }}" alt="" />
                <a class="fancybox" rel="ligthbox" href="http://i.imgur.com/PUeaHfC.png">
                    <div class="zoom"></div>
                </a>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12 single_portfolio_text">
                <img src="{{ asset('daraz/images/p-3.png') }}" alt="" />
                <a class="fancybox" rel="ligthbox" href="http://i.imgur.com/8cOtAS9.png">
                    <div class="zoom"></div>
                </a>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12 single_portfolio_text">
                <img src="{{ asset('daraz/images/p-4.png') }}" alt="" />
                <a class="fancybox" rel="ligthbox" href="http://i.imgur.com/p7OYoBT.png">
                    <div class="zoom"></div>
                </a>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12 single_portfolio_text">
                <img src="http://i.imgur.com/uZeTibF.png" alt="" />
                <a class="fancybox" rel="ligthbox" href="http://i.imgur.com/uZeTibF.png">
                    <div class="zoom"></div>
                </a>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12 single_portfolio_text">
                <img src="http://i.imgur.com/ymwlLln.png" alt="" />
                <a class="fancybox" rel="ligthbox" href="http://i.imgur.com/ymwlLln.png">
                    <div class="zoom"></div>
                </a>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12 single_portfolio_text">
                <img src="http://i.imgur.com/PUeaHfC.png" alt="" />
                <a class="fancybox" rel="ligthbox" href="http://i.imgur.com/PUeaHfC.png">
                    <div class="zoom"></div>
                </a>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12 single_portfolio_text">
                <img src="http://i.imgur.com/A8FRrbS.png" alt="" />
                <a class="fancybox" rel="ligthbox" href="http://i.imgur.com/A8FRrbS.png">
                    <div class="zoom"></div>
                </a>
            </div>

        </div>
        </div>
    </section>
{% endblock %}