{% extends 'baseFront.html.twig' %}

{% block title %}Hello VitrineController!{% endblock %}

{% block body %}
    <section>
        <header> Qui sommes-nous?</header>
        <body>
        <div> Cher(e)s Client(e)s,
            Votre restaurant LE MAURITIUS,
            vous propose ses mets à la livraison ou à emporter
            Pour consulter notre carte et commander
        </div>
        <a href="">Cliquer ici</a>
        <div>
            venez passer un bon moment et découvrir nos differents menus et notre variéee
            avec une meilleure sélection des spécialités créoles,
            Mauricienne, Réunioniaises & de madagascar.
            Notre savoir-faire et notre passion pour la cuise feront de vos dîners
            et déjeuners des moments de pur plaisir..... Soyez les bienvenus!
        </div>
        </body>

    </section>

    <section>
        <header> 3 Rue Ernest Cresson, 75014
            Paris, France
        </header>
        <body>
        <p>Lundi<span>11H45-15h / 18h30-02H</span></p>
        <p>Mardi<span>11H45-15h / 18h30-02H</span></p>
        <p>Mercredi<span>11H45-15h / 18h30-02H</span></p>
        <p>Jeudi<span>11H45-15h / 18h30-02H</span></p>
        <p>Vendredi<span>11H45-15h / 18h30-02H</span></p>
        <p>Samedi<span>11H45-15h / 18h30-02H</span></p>
        <p>Dimanche<span>11H45-15h / 18h30-02H</span></p>

        </body>
    </section>
    <section>
        <div class="content">
            <div class="content-bloc click-collect">
                <div class="bloc-header">
                    <div class="bloc-icon-container">
                        <i class="ic ic-position"></i>
                    </div>
                    <div class="bloc-title-container">
                        <h2>Click &amp; Collect</h2>
                        <p>Minimum de 20€ d’achat</p>
                    </div>
                    <div class="bloc-timing">
                        20 - 25
                        <span>min</span>
                    </div>
                </div>
                <div class="bloc-text text-opening-hours">
                    Les commandes en click &amp; collect ne sont traitées et récupérables que pendant ces horaires :
                </div>
                <div class="opening-hours">
                    <div class="day-line">
                        <div class="day-name">lundi</div>
                        <div class="day-hours">11:45-15:00 / 18:30-02:00</div>
                    </div>
                    <div class="day-line">
                        <div class="day-name">mardi</div>
                        <div class="day-hours">11:45-15:00 / 18:30-02:00</div>
                    </div>
                    <div class="day-line">
                        <div class="day-name">mercredi</div>
                        <div class="day-hours">11:45-15:00 / 18:30-02:00</div>
                    </div>
                    <div class="day-line">
                        <div class="day-name">jeudi</div>
                        <div class="day-hours">11:45-15:00 / 18:30-02:00</div>
                    </div>
                    <div class="day-line">
                        <div class="day-name">vendredi</div>
                        <div class="day-hours">11:45-15:00 / 18:30-02:00</div>
                    </div>
                    <div class="day-line">
                        <div class="day-name">samedi</div>
                        <div class="day-hours">11:45-15:00 / 18:30-02:00</div>
                    </div>
                    <div class="day-line">
                        <div class="day-name">dimanche</div>
                        <div class="day-hours">18:30-21:00 / 21:00-02:00</div>
                    </div>
                </div>
                <div class="bloc-text text-address">
                    à l’adresse suivante :
                </div>
                <address>3 Rue Ernest Cresson, 75014 Paris, France</address>
            </div>
            <div class="content-bloc delivery">
                <div class="bloc-header">
                    <div class="bloc-icon-container">
                        <i class="ic ic-delivery"></i>
                    </div>
                    <div class="bloc-title-container">
                        <h2>Livraison</h2>
                        <p>Minimum de 20€ d’achat hors frais de livraison</p>
                    </div>
                    <div class="bloc-timing">
                        40 - 45
                        <span>min</span>
                    </div>
                </div>
                <div class="bloc-text text-opening-hours">
                    Les commandes en livraison ne sont traitées et livrables que pendant ces horaires :
                </div>
                <div class="opening-hours">
                    <div class="day-line">
                        <div class="day-name">lundi</div>
                        <div class="day-hours">11:45-15:00 / 18:30-02:00</div>
                    </div>
                    <div class="day-line">
                        <div class="day-name">mardi</div>
                        <div class="day-hours">11:45-15:00 / 18:30-02:00</div>
                    </div>
                    <div class="day-line">
                        <div class="day-name">mercredi</div>
                        <div class="day-hours">11:45-15:00 / 18:30-02:00</div>
                    </div>
                    <div class="day-line">
                        <div class="day-name">jeudi</div>
                        <div class="day-hours">11:45-15:00 / 18:30-02:00</div>
                    </div>
                    <div class="day-line">
                        <div class="day-name">vendredi</div>
                        <div class="day-hours">11:45-15:00 / 18:30-02:00</div>
                    </div>
                    <div class="day-line">
                        <div class="day-name">samedi</div>
                        <div class="day-hours">11:45-15:00 / 18:30-02:00</div>
                    </div>
                    <div class="day-line">
                        <div class="day-name">dimanche</div>
                        <div class="day-hours">18:30-21:00 / 21:00-02:00</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="scrolltotop" class="">
            <i class="fa fa-angle-double-up" aria-hidden="true"></i>
            Haut de page
        </div>
    </section>





{% endblock %}
