{% extends 'baseFront.html.twig' %}

{% block title %}Hello VitrineController!{% endblock %}

{% block body %}

    <!-- TEAM -->

    <section id="team" class="light">
        <header class="title">
            <h2>Creative <span>Team</span></h2>
            <p>Lorem ipsum Dolor et reprehenderit laborum deserunt aliquip incididunt tempor id non. Lorem ipsum Fugiat anim labore cupidatat consequat non in sit dolore anim anim consequat nisi.</p>
        </header>

        <div class="container">
            <div class="row">
                <ul id="filters" class="list-inline">
                    <li data-filter="all" class="filter">Categorie 1</li>
                    <li data-filter=".branding" class="filter">Categorie 2</li>
                    <li data-filter=".graphic" class="filter">Categorie 3</li>
                    <li data-filter=".printing" class="filter">Categorie 4</li>
                    <li data-filter=".video" class="filter">Categorie 5</li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 text-center">
                    <div class="wrap animated" data-animate="fadeInDown">
                        <div class="img-team">
                            <img src="daraz/images/team-1.jpg" >
                        </div>

                        <h3>Nom plat</h3>
                        <h5>Categorie</h5>

                        <p>Lorem ipsum Proident incididunt sint dolor cupidatat pariatur dolore magna pariatur in ea aliqua.</p>

                        <div class="team-social">
                            <ul class="list-inline">
                                <li class="fa fa-money"> 10 000 AR</li>
                                <li>
                                    <button type="button" class="btn btn-primary btn-lg fa fa-shopping-cart">Ajouter</button>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <div class="wrap animated" data-animate="fadeInDown">
                        <div class="img-team">
                            <img src="daraz/images/team-1.jpg" >
                        </div>

                        <h3>Nom plat</h3>
                        <h5>Categorie</h5>

                        <p>Lorem ipsum Proident incididunt sint dolor cupidatat pariatur dolore magna pariatur in ea aliqua.</p>

                        <div class="team-social">
                            <ul class="list-inline">
                                <li class="fa fa-money"> 10 000 AR</li>
                                <li>
                                    <button type="button" class="btn btn-primary btn-lg fa fa-shopping-cart">Ajouter</button>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div> <div class="col-md-3 col-sm-6 text-center">
                    <div class="wrap animated" data-animate="fadeInDown">
                        <div class="img-team">
                            <img src="daraz/images/team-1.jpg" >
                        </div>

                        <h3>Nom plat</h3>
                        <h5>Categorie</h5>

                        <p>Lorem ipsum Proident incididunt sint dolor cupidatat pariatur dolore magna pariatur in ea aliqua.</p>

                        <div class="team-social">
                            <ul class="list-inline">
                                <li class="fa fa-money"> 10 000 AR</li>
                                <li>
                                    <button type="button" class="btn btn-primary btn-lg fa fa-shopping-cart">Ajouter</button>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div> <div class="col-md-3 col-sm-6 text-center">
                    <div class="wrap animated" data-animate="fadeInDown">
                        <div class="img-team">
                            <img src="daraz/images/glace.jpg" >
                        </div>

                        <h3>Nom plat</h3>
                        <h5>Categorie</h5>

                        <p>Lorem ipsum Proident incididunt sint dolor cupidatat pariatur dolore magna pariatur in ea aliqua.</p>

                        <div class="team-social">
                            <ul class="list-inline">
                                <li class="fa fa-money"> 10 000 AR</li>
                                <li>
                                    <button type="button" class="btn btn-primary btn-lg fa fa-shopping-cart">Ajouter</button>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div> <div class="col-md-3 col-sm-6 text-center">
                    <div class="wrap animated" data-animate="fadeInDown">
                        <div class="img-team">
                            <img src="daraz/images/glace.jpg" >
                        </div>

                        <h3>Nom plat</h3>
                        <h5>Categorie</h5>

                        <p>Lorem ipsum Proident incididunt sint dolor cupidatat pariatur dolore magna pariatur in ea aliqua.</p>

                        <div class="team-social">
                            <ul class="list-inline">
                                <li class="fa fa-money"> 10 000 AR</li>
                                <li>
                                    <button type="button" class="btn btn-primary btn-lg fa fa-shopping-cart">Ajouter</button>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div> <div class="col-md-3 col-sm-6 text-center">
                    <div class="wrap animated" data-animate="fadeInDown">
                        <div class="img-team">
                            <img src="daraz/images/glace.jpg" >
                        </div>

                        <h3>Nom plat</h3>
                        <h5>Categorie</h5>

                        <p>Lorem ipsum Proident incididunt sint dolor cupidatat pariatur dolore magna pariatur in ea aliqua.</p>

                        <div class="team-social">
                            <ul class="list-inline">
                                <li class="fa fa-money"> 10 000 AR</li>
                                <li>
                                    <button type="button" class="btn btn-primary btn-lg fa fa-shopping-cart">Ajouter</button>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div> <div class="col-md-3 col-sm-6 text-center">
                    <div class="wrap animated" data-animate="fadeInDown">
                        <div class="img-team">
                            <img src="daraz/images/glace.jpg" >
                        </div>

                        <h3>Nom plat</h3>
                        <h5>Categorie</h5>

                        <p>Lorem ipsum Proident incididunt sint dolor cupidatat pariatur dolore magna pariatur in ea aliqua.</p>

                        <div class="team-social">
                            <ul class="list-inline">
                                <li class="fa fa-money"> 10 000 AR</li>
                                <li>
                                    <button type="button" class="btn btn-primary btn-lg fa fa-shopping-cart">Ajouter</button>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div> <div class="col-md-3 col-sm-6 text-center">
                    <div class="wrap animated" data-animate="fadeInDown">
                        <div class="img-team">
                            <img src="daraz/images/glace.jpg" >
                        </div>

                        <h3>Nom plat</h3>
                        <h5>Categorie</h5>

                        <p>Lorem ipsum Proident incididunt sint dolor cupidatat pariatur dolore magna pariatur in ea aliqua.</p>

                        <div class="team-social">
                            <ul class="list-inline">
                                <li class="fa fa-money"> 10 000 AR</li>
                                <li>
                                    <button type="button" class="btn btn-primary btn-lg fa fa-shopping-cart">Ajouter</button>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div> <div class="col-md-3 col-sm-6 text-center">
                    <div class="wrap animated" data-animate="fadeInDown">
                        <div class="img-team">
                            <img src="daraz/images/glace.jpg" >
                        </div>

                        <h3>Nom plat</h3>
                        <h5>Categorie</h5>

                        <p>Lorem ipsum Proident incididunt sint dolor cupidatat pariatur dolore magna pariatur in ea aliqua.</p>

                        <div class="team-social">
                            <ul class="list-inline">
                                <li class="fa fa-money"> 10 000 AR</li>
                                <li>
                                    <button type="button" class="btn btn-primary btn-lg fa fa-shopping-cart">Ajouter</button>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div> <div class="col-md-3 col-sm-6 text-center">
                    <div class="wrap animated" data-animate="fadeInDown">
                        <div class="img-team">
                            <img src="daraz/images/glace.jpg" >
                        </div>

                        <h3>Nom plat</h3>
                        <h5>Categorie</h5>

                        <p>Lorem ipsum Proident incididunt sint dolor cupidatat pariatur dolore magna pariatur in ea aliqua.</p>

                        <div class="team-social">
                            <ul class="list-inline">
                                <li class="fa fa-money"> 10 000 AR</li>
                                <li>
                                    <button type="button" class="btn btn-primary btn-lg fa fa-shopping-cart">Ajouter</button>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div> <div class="col-md-3 col-sm-6 text-center">
                    <div class="wrap animated" data-animate="fadeInDown">
                        <div class="img-team">
                            <img src="daraz/images/glace.jpg" >
                        </div>

                        <h3>Nom plat</h3>
                        <h5>Categorie</h5>

                        <p>Lorem ipsum Proident incididunt sint dolor cupidatat pariatur dolore magna pariatur in ea aliqua.</p>

                        <div class="team-social">
                            <ul class="list-inline">
                                <li class="fa fa-money"> 10 000 AR</li>
                                <li>
                                    <button type="button" class="btn btn-primary btn-lg fa fa-shopping-cart">Ajouter</button>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div> <div class="col-md-3 col-sm-6 text-center">
                    <div class="wrap animated" data-animate="fadeInDown">
                        <div class="img-team">
                            <img src="daraz/images/glace.jpg" >
                        </div>

                        <h3>Nom plat</h3>
                        <h5>Categorie</h5>

                        <p>Lorem ipsum Proident incididunt sint dolor cupidatat pariatur dolore magna pariatur in ea aliqua.</p>

                        <div class="team-social">
                            <ul class="list-inline">
                                <li class="fa fa-money"> 10 000 AR</li>
                                <li>
                                    <button type="button" class="btn btn-primary btn-lg fa fa-shopping-cart">Ajouter</button>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div> <div class="col-md-3 col-sm-6 text-center">
                    <div class="wrap animated" data-animate="fadeInDown">
                        <div class="img-team">
                            <img src="daraz/images/glace.jpg" >
                        </div>

                        <h3>Nom plat</h3>
                        <h5>Categorie</h5>

                        <p>Lorem ipsum Proident incididunt sint dolor cupidatat pariatur dolore magna pariatur in ea aliqua.</p>

                        <div class="team-social">
                            <ul class="list-inline">
                                <li class="fa fa-money"> 10 000 AR</li>
                                <li>
                                    <button type="button" class="btn btn-primary btn-lg fa fa-shopping-cart">Ajouter</button>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div> <!-- /.container -->
    </section>

{% endblock %}