{% extends 'baseFront.html.twig' %}

{% block title %}Hello VitrineController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <!-- PORTFOLIO -->

    <section id="portfolio" class="light">
        <header class="title">
            <h2>Specialité</h2>
            <p>.</p>
        </header>

        <div class="container-fluid">
            <div class="row">
                <ul id="filters" class="list-inline">
                    <li data-filter="all" class="filter">All</li>
                    <li data-filter=".branding" class="filter">Branding</li>
                    <li data-filter=".graphic" class="filter">Graphic</li>
                    <li data-filter=".printing" class="filter">Printing</li>
                    <li data-filter=".video" class="filter">Video</li>
                </ul>
            </div>

            <div class="row">
                <div class="container-portfolio">
                    <!-- PORTFOLIO OBJECT -->
                    <script type="text/javascript">
                        var portfolio = [
                            {
                                category : "branding",
                                image : "images/p-1.png",
                                title : "Charming <span>Roxy</span>",
                                link : "#none",
                                text : "Lorem ipsum Dolor in minim fugiat ut nisi occaecat fugiat. Lorem ipsum Quis tempor Ut enim officia deserunt consectetur."
                            },
                            {
                                category : "graphic",
                                image : "images/p-2.png",
                                title : "Fresh <span>Bubba</span>",
                                link : "#none",
                                text : "Lorem ipsum Dolor in minim fugiat ut nisi occaecat fugiat. Lorem ipsum Quis tempor Ut enim officia deserunt consectetur."
                            },
                            {
                                category : "graphic",
                                image : "images/p-3.png",
                                title : "Wild <span>Romeo</span>",
                                link : "#none",
                                text : "Lorem ipsum Dolor in minim fugiat ut nisi occaecat fugiat. Lorem ipsum Quis tempor Ut enim officia deserunt consectetur."
                            },
                            {
                                category : "video",
                                image : "images/p-4.png",
                                title : "Strange <span>Dexter</span>",
                                link : "#none",
                                text : "Lorem ipsum Dolor in minim fugiat ut nisi occaecat fugiat. Lorem ipsum Quis tempor Ut enim officia deserunt consectetur."
                            },
                            {
                                category : "branding",
                                image : "images/p-5.png",
                                title : "Free <span>Sarah</span>",
                                link : "#none",
                                text : "Lorem ipsum Dolor in minim fugiat ut nisi occaecat fugiat. Lorem ipsum Quis tempor Ut enim officia deserunt consectetur."
                            },
                            {
                                category : "printing",
                                image : "images/p-6.png",
                                title : "Chico <span>Silly</span>",
                                link : "#none",
                                text : "Lorem ipsum Dolor in minim fugiat ut nisi occaecat fugiat. Lorem ipsum Quis tempor Ut enim officia deserunt consectetur."
                            },
                            {
                                category : "printing",
                                image : "images/p-7.png",
                                title : "IG <span>Shop</span>",
                                link : "#none",
                                text : "Lorem ipsum Dolor in minim fugiat ut nisi occaecat fugiat. Lorem ipsum Quis tempor Ut enim officia deserunt consectetur."
                            },
                            {
                                category : "printing",
                                image : "images/p-8.png",
                                title : "Tana <span>Samawa</span>",
                                link : "#none",
                                text : "Lorem ipsum Dolor in minim fugiat ut nisi occaecat fugiat. Lorem ipsum Quis tempor Ut enim officia deserunt consectetur."
                            }
                        ];
                    </script>
                </div>
            </div>
        </div>
    </section>

{% endblock %}